name: Outpit information
on: workflow_dispatch
jobs:
  info:
    runs-on: ubuntu-20.04
    env:
      working-directory: ./react
    steps:
      - name: Output Github context
        run: echo "${{toJson(github)}}"
      - name: Runner context
        run: echo "${{toJson(runner)}}"
      - name: Job context
        run: echo "${{toJson(job)}}"
      - name: Env context
        run: echo "${{toJson(env)}}"
